@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="addCurSoliderModal" tabindex="-1" aria-labelledby="addCurSoliderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">CheckIn vào quân ngũ hiện tại</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                <form asp-action="AddCurrentSoldier" method="post" id="addSoldierForm" class="row g-3">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="typePerson" id="typePerson" value="2" />
                    <div class="form-group">
                        <label for="userGuid">Guid</label>
                        <input type="text" name="userGuid" id="userGuid" class="form-control" placeholder="Guid" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="idCard" class="form-label">Mã định danh</label>
                        <input type="text" name="idCard" id="idCard" class="form-control" placeholder="Nhập mã định danh và nhấn Enter" required />
                    </div>
                    <div class="col-md-6">
                        <label for="name" class="form-label">Họ và tên</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Họ và tên" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="gender" class="form-label">Giới tính</label>
                        <input type="text" name="gender" id="gender" class="form-control" placeholder="Giói tính" required readonly />
                    </div>
                    <div class="col-md-6">
                        <label for="phone" class="form-label">Số điện thoại</label>
                        <input type="text" name="phone" id="phone" class="form-control" placeholder="Số điện thoại" required readonly />
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-success me-2">Check In</button>
                    </div>
                </form>
                <!--

                 <form asp-action="InitializeCurrentSoldiers" method="post" class="mt-3 d-flex justify-content-end">
                     <button type="submit" class="btn btn-primary">Khởi tạo quân số</button>
                 </form>
                -->
            </div>
            <div class="modal-footer">
                <div id="formMessage" class="text-danger"></div>
            </div>
        </div>
    </div>
</div>
